@import url("https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow&family=Rubik+Gemstones&family=Satisfy&family=Ubuntu:wght@300;400;500&display=swap");

html,
body {
  height: 100%;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif !important; */
}

a:hover {
  color: #0000ff; /* #0ab4ff */
  font-size: 1.05rem;
}

.form-control {
  /* background-color: transparent; */
}

.input-group-text {
  background-color: transparent;
}
.menu-anchor:hover {
  background-color: aliceblue !important;
  font-weight: bolder;
}

.menu-label {
  font-size: 13px;
}

.css-dip3t8 {
  background-color: rgb(249, 249, 249, 1) !important;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

.row {
  padding-top: 20px;
}

.logo {
  height: 50px;
  width: 50px;
}
.logo1 {
  height: 80px;
  width: 80px;
}
.container {
  position: relative;
}
.flex-box {
  display: flex;
  margin: auto;
  margin-top: 50px;
  flex-direction: row;
  padding: 0 50px 0 50px;
  width: 80%;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background-color: #f8f8fc;
  box-shadow: #26265e 10px 13px 19px 14px;
  animation: pop 1.5s ease-in-out;
}
/* .flex-box-login {
  display: flex;
  margin: auto;
  margin-top: 50px;
  flex-direction: row;
  padding: 20px 50px 20px 50px;
  width: 80%;
  border: 2px solid #dddddd;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: #c0bdbd 10px 13px 19px 14px;
} */
.img-box {
  width: 50%;
  /* margin-left: 40px; */
}

.side-img {
  width: 100%;
  height: 90%;
  margin-top: 20px;
}
.main-box {
  width: 50%;
  margin-right: 40px;
  padding: 40px;
}
.main-box-login {
  width: 50%;
  margin-top: 60px;
  padding: 40px;
}
#hero {
  width: 100%;
  height: 75vh;
  background: url("../public/hero-bg.jpg") top left;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #106eea;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #106eea;
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

#hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .btn-get-started,
  #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
label {
  color: rgb(17, 16, 16);
}
@media (max-width: 1000px) {
  .img-box {
    display: none;
  }
  .main-box,
  .main-box-login {
    width: 100%;
  }
}

/* Header=================== */
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #012970;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form {
  border: 0;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #012970;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav > ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #012970;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #012970;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.flex-box-main {
  display: flex;
  flex-direction: row;
}
.leadbox {
  display: block;

  padding: 1.5rem 15px 0px 15px;
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* form css */

#title {
  margin: 0;
  font-size: 5rem;
}

#title,
#description {
  padding-right: 10px;
  padding-left: 10px;
}

#survey-form {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 60px;
  border-radius: 6px;
  background-color: #c3d2e2;
  box-shadow: 10px 8px 20px 6px rgb(0 0 0 / 30%);
}

label,
fieldset {
  display: flex;
  align-items: center;

  margin: 15px 0 5px 0;
}

fieldset {
  flex-direction: column;
  align-items: flex-start;
  border-color: #263238;
}

fieldset label {
  gap: 5px;
  text-align: left;
}

.input,
textarea,
.button {
  box-sizing: border-box;
  display: block;

  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

textarea {
  min-height: 100px;
  resize: vertical;
}

small {
  display: block;
  margin-top: 15px;
  margin-bottom: 20px;
}

.button {
  color: #f5f5f5;
  /* background-color: #263238; */
  cursor: pointer;
}
.error {
  font-size: small;
  color: red;
}
/* slidebar--------------------------------- */
/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.flex-div {
  display: flex;
  margin-top: 25px;
}

label {
  margin: 0px;
}

@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}

.side-items {
  margin-left: auto;
  margin-right: 10px;
}
.left-items {
  margin-right: auto;
  margin-left: 10px;
}

.search_input {
  width: 40%;
  display: inline-block;
}

div.lead_table {
  margin: 5px;
  padding: 5px;
  /* width: 500px; */
  height: 650px;
  overflow: auto;
  text-align: justify;
}

.category {
  width: 30%;
}
.date_search {
  width: 50%;
}

.input-group-text {
  border: 1px solid black;
}

.example {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.fa {
  transition: all 0.3s ease;
}

.fa:hover {
  transform: scale(1.3);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
}

#sidebar {
  transition: 5s;

  animation: fadeIn 1s ease;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar-nav {
  flex-direction: row;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.table {
  border: 20px;
  border-color: #aaadb1;
}

.footer {
  background-image: url("footer_back.svg");
}
input,
h3 {
  color: aliceblue;
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.wrapper1 {
  display: inline-flex;
  /* background: #fff; */
  height: 80px;
  width: 150%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 20px 15px;
  /* box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2); */
}
.wrapper1 .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}
.wrapper1 .option .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
}
.wrapper1 .option .dot::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #0069d9;
  border-radius: 50%;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.3s ease;
}
input[type="radio"] {
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2 {
  border-color: #0069d9;
  background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot {
  background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before {
  opacity: 1;
  transform: scale(1);
}
.wrapper1 .option span {
  font-size: 20px;
  color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span {
  color: #fff;
}

.buzz-button {
  /* animation: rotate 1s linear infinite; */
}

.buzz-button:hover {
  animation: buzz 0.8s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes buzz {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}
